# logs
*.log

# test coverage and results
coverage/
test-results.xml

# dependency directories
node_modules/

# compiled asset directories
es/
cjs/

# npm files
.npm
*.tgz

# eslint
.eslintcache

# environment variable files
.env

# editor files
.vscode
